:root {
  --background: #FDE2E2;
  --midground: #FCF8F8;
  --foreground: #ffffff;
  --border: #EAD9D9;

  --text: #000000;
  --actions: #8A3636;
  --active: #AACFCF;
  --closeText: #8A3636;

  --button: #FFB6B6;
  --buttonHover: #000;
}

[data-theme="dark"] {
  --background: #000000;
  --midground: #252525;
  --foreground: #151515;
  --border: #333;
  --text: #cccccc;

  --actions: #679B9B;
  --active: #FFB6B6;
  --closeText: #D80202;

  --button: #AACFCF;
  --buttonHover: #fff;
}


body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background);
  font-size: 16px;
  color: var(--text)
}
  body > *:not(:last-child) {
    margin-bottom: 16px;
  }
  a {color: unset; text-decoration: unset;}
  
#container {
  display: flex;
  flex-direction: column;
  width: 360px;
  padding: 24px;
  background: var(--foreground);
  border-radius: 4px;
  border: 1px solid var(--border);
  box-sizing: border-box;
}
  #container > * {
    margin-top: 0px;
    margin-bottom: 16px;
  }

h2 {
  text-align: center;
  margin-bottom: 24px !important;
}

label {
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
}
  select {flex-grow: 1; margin-left: 16px}
  input[type="checkbox"] {font-size: 16px; margin: 0;}

button, #status {
  margin-bottom: 0px !important;
  border-top: 1px solid var(--border);
  box-sizing: border-box;
}

button {
  outline: none;
  height: 40px;
  background: var(--button);
  border-radius: 4px;
  border: 3px solid #111;
  border: none;
  color: #000;
  font-weight: 600;
  font-size: 14px;
}
  button:hover {
    background: var(--buttonHover);
    color: var(--foreground);
    cursor: pointer;
  }
  button:disabled { display: none; }

#status {
  font-size: 20px;
  height: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
  #status.hidden {display: none;}

#author {
  font-size: 12px;
  color: var(--actions);
}